
<div class="user-post">
   <div class="user-card">
    
    <div class="user-image">
          <img src="<%= @user.photo_link %>" alt="<%= @user.name %> photo" class="img-fluid rounded-circle">
      </div> 
   <div class="user-info">
  <h3><%= @user.name %></h3>
  <p class="comment">Number of posts: <%= @user.posts.count %></p>
  </div>
  </div>

  <div class="user-bio">
  <p>Bio: <%= @user.bio %></p>
  </div>
  
 <% @user.posts.each_with_index do |post, index| %>
<div class="allposts-user">
    <h3>Post <%= index + 1 %></h3>
      <p class="p-text"><%= post.text %></p>
      <div class="likes">
        <p class="post-comment"> comments: <%= post.comments.count %></p>
        <p class="likes">likes: <%= post.likes.count %></p>
      </div>
  </div>
<% end %>
  <button class="all-posts">See all post</button>
</div>
