<!-- app/views/users/show.html.erb -->
<div class="user-post">
<h1><%= @user.name %></h1>
<p>Bio: <%= @user.bio %></p>

<h2>Posts</h2>
 <div class="post">
  <% @user.posts.each do |post| %>
    <h3><%= post.title %></h3>
    <p><%= post.text%></p>
   <p class="comment">Number of comments: <%= post.comments.count %></p>
   <p class="likes">Number of likes: <%= post.likes.count %></p>
  <% end %>
 </div>
<button class="all-posts">See all post</button>
</div>