<div class="a-post">
<div class="post-id ">
  <div class="post-info">
      <h4>Post <%= @post.id %> by <%= @post.user.name %></h4>
      <div class="likes-comment">
        <p class="comment">comments: <%= @post.comments.count %></p>
        <p class="likes"> likes: <%= @post.likes.count %></p>
      </div>
      
    </div>
    
   <div class="posttext">
    <p class="post-text"><%= @post.title %></p>
  <p class="post-text"><%= @post.text %></p>
  <%= form_with(model: [@post, @post.likes.build], url: post_likes_path(@post)) do |form| %>
    <%= form.submit 'Like', class: 'btn-like' %>
  <% end %>
<%if can?(:destroy, @post)%>

 <%= button_to "DELETE POST", user_post_path(user_id:@post.author_id, id:@post.id), method: :delete%>
<% end %>
</div>

   
  </div>
  <div class="all-comments">
    <% @post.comments.each do |comment| %>
    <ul>
        <strong><%= comment.user.name %></strong>: <%= comment.text %>
        </ul>
        <%= button_to "DELETE COMMENT", user_post_comment_path(user_id: comment.user_id, post_id: comment.post_id, id: comment.id), method: :delete%>
    <% end %>
   
  

  </div> 
  
   </div>
</div>
   
</div>
